* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #FFF;
	overflow: hidden;

}

header {
	width: 100%;
	height: 80px;

	padding: 10px;

	position: relative;
}

.logo {
	position: absolute;
}

.logo h1 {
	margin: 0;
	padding: 0;

	margin-left: 50px;
}

.logo span {
	margin-left: 50px;
	font-style: italic;
}

.account {
	position: absolute;
	text-align: right;
	right: 0;

	margin-right: 50px;
	margin-top: 30px;
}

.account a, .blue-button {
	text-decoration: none;
	color: #FFF;

	background: rgba(60,60,200,.9);
	padding: 10px;

	border-radius: 5px;


	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
}

.account a:hover, .blue-button:hover{
	background: rgba(60,60,200,.8);
}

.account a:active, .blue-button:active {
	background: rgba(80,80,200,.8);
}

.container {
	width: 100%;
	height: auto;
	position: relative;
}

.container .code-container {
	padding: 10px;
	width: 60%;
	height: 510px;

	margin-left: 20px;
	display: inline-block;
}

.container .code-container .code-form {
	width: 100%;
	height: 510px;
	padding: 5px;

	position: relative;
	background: rgba(220,220,220,.67);
	overflow: hidden;
}

.container .code-container .line-number {
	width: 5%;
	height: auto;

	background: #999;
	display: inline-block;

	position: absolute;
	top: 0;
	left: 0;

	padding-top: 5px;
	overflow: hidden;
	max-height: 510px;
}

.container .code-container .line-number span {
	display: block;
	line-height: 30px;

	border-right: 1px solid #999;
	text-align: center;
	color: rgba(225,225,225,.9);


	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
}

.container .code-container textarea, .view_editor {
	width: 95%;
	height: 35px;
	resize:none;

	border: none;
	padding-left: 10px;
	overflow-y:auto;
	outline: none;

	display: inline-block;
	position: absolute;
	left: 5%;
	top: 0;

	color: #999;
	line-height: 30px;
	font-size: 15px;

	background: rgba(220,220,220,.9);


	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
}

textarea::-webkit-scrollbar, .view_editor::-webkit-scrollbar {
	width: 8px;
}

textarea::-webkit-scrollbar-thumb, .view_editor::-webkit-scrollbar-thumb {
	background: #999;


	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
}

textarea::-webkit-scrollbar-thumb:active, .view_editor::-webkit-scrollbar-thumb:active {
	background:#777;
}

.active-line {

	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;

	background: #666;
}

.view_editor {
	height: 510px;
}


.container .code-container a {
	position: absolute;
	right: 0;
	margin-top: 20px;

}

.container aside {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	padding: 10px;

	width: 30%;
}

.details {
	position: absolute;
	margin-top: 20px;
}

.details span {
	display: block;
	font-family: arial;
	font-size:14px;
}

.details input {
	outline: none;
	border: 1px solid #CCC;
	display: block;
	border-radius: 5px;

	padding: 5px;
	width: 100%;


	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
}

.details input:focus {
	border: 2px solid #099;
	color: #444;
}

#alerts {
	position: absolute;
	top: -100px;

	width: 100%;
	text-align: center;
	padding: 20px;

	transition:all .8s ease;
	-moz-transition:all .8s ease;
	-webkit-transition:all .8s ease;
	-o-transition:all .8s ease;
	-ms-transition:all .8s ease;
}

.success {
	background: #063;
	color: #fff;
	display: block;
}

.failed {
	background: #944;
	color: #fff;
	display: block;
}

#syntaxHolder {
	display: none;
}